/* PollutantSelector.module.css */

.selector-container {
    margin-bottom: 10px;
  }
  
  .selector-label {
    margin-right: 5px;
  }
  
  .selector-dropdown {
    padding: 5px;
    font-size: 14px;
  }